spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Student
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: suhaskrishna2002@gmail.com
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

google:
  clientId: ${GOOGLE_CLIENT_ID}
  clientSecret: ${GOOGLE_CLIENT_SECRET}
  refreshToken: ${GOOGLE_REFRESH_TOKEN}
  tokenUri: ${GOOGLE_TOKEN_URI}
  redirectUri: ${GOOGLE_REDIRECT_URI}
  scope: ${GOOGLE_SCOPE}


